body {
    font-family: Arial, sans-serif;
    font-size: 22px;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    background: #121212;
    color: white;
}

h1 {
    margin-bottom: -5px;
    margin-left: 15px;
    margin-top: 5px;
}

h2 {
    margin-top: -10px;
    margin-bottom: 5px;
    border-bottom: solid 1px grey;
}

button {
    background-color: #1fdf64;
    border: none;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: -5px;
    outline: 1px solid white;
    -webkit-text-stroke: 1px black;
    justify-content: center;

}

button:hover {
    background-color: #1ed760;
}

ul {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 0;
    font-size: 16px;
}

.subcolumn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.subcolumn1,
.subcolumn2,
.subcolumn3 {
    flex-basis: 30%;
    margin: 5px;
    padding: 20px 20px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}