body {
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 26px;
    max-width: 1600px;
    margin: 0 auto;
    background: #222222;
    color: white;
}

#header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

h2 {
    margin-top: -10px;
    margin-bottom: 5px;
    border-bottom: solid 1px grey;
}

.drop-btn {
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 5px 40px;
    text-align: center;
}

ul {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 0;
    font-size: 16px;
}

.nav-bar {
    overflow: hidden;
}


.dropdown-menu{
    float: left;
    background-color: #1fdf64;
    border: none;
}


#artist-selector {
    border-radius: 25px 0 0 25px;
}


#track-selector {
    border-radius: 0 25px 25px 0;
}

.dropdown-options {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1fdf64;
    border-radius: 0 0 25px 25px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
}

.options-btn {
    padding: 10px;
}

.options-btn:hover {
    background-color: #1cc055;
}

.dropdown-menu:hover {
    background-color: #1cc055;
}

#artist-selector:hover {
    border-radius: 25px 0 25px 25px;
}

#track-selector:hover {
    border-radius: 0 25px 25px 25px;
}

#artist-selector:hover .dropdown-options {
    display: flex;
}

#track-selector:hover .dropdown-options {
    display: flex;
}




